@import '~antd/lib/style/themes/default.less';

.main {
  width: 368px;
  height: 368px;
  margin: 0 auto;
  background-color: aqua;
  @media screen and (max-width: @screen-sm) {
    width: 95%;
  }
}
